<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" th:href="@{/lobby.css}" type="text/css"/>
        <title>Lobby</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1 class="titulo">Lobby</h1>
        <div class="divLobby">
            <h2>Configuraciones de partida:</h2>
        </div>
    </body>
</html>

