<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">


<html>
    <head>
        <link rel="stylesheet" th:href="@{/menu.css}" type="text/css"/>

        <title>Menu principal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 class="titulo">Tutti Frutti</h1>
        
        <div class="containerOpcionesJuego">
            <h3 class="subtituloOpciones"> Como quieres jugar?</h3>
            
            <button> Jugar solo</button>
            <button> Jugar con amigos</button>
        </div>
    </body>
</html>
