<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" th:href="@{/menu.css}" type="text/css"/>
        <title>Menu principal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <h1 class="titulo">Tutti Frutti</h1>

        <div class="containerOpcionesJuego">
            <h3 class="subtituloOpciones">Como quieres jugar?</h3>

            <button onclick="window.location.href='/lobby'">Jugar solo</button>
            <button>Jugar con amigos</button>
        </div>
    </body>
</html>
