<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
            <title>Resultados Finales</title>
            <link rel="stylesheet" th:href="@{/resultadosFinales.css}">
                </head>

                <body>

                    <h1 class="titulo">Resultados Finales</h1>

                    <div class="contenedor">
                        <p class="puntaje-final">
                            Puntaje total acumulado:
                            <span> Puntaje final de la partida</span>
                        </p>

                        <a class="btn menu" href="/volverAlMenuDesdeFinal">Volver al menú</a>
                    </div>

                </body>
                </html>
